#headBar {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	background-color: #3399CC;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 16px;

}

a {
	text-decoration:underline;
	color:#000000;
}
a:hover {
	color:#0000FF;
	}



.openTable {
	border-top:2px ridge #C0C0C0;
	border-left:2px ridge #C0C0C0;
	border-right:2px ridge #C0C0C0;
}

.midTable {
	border-left:2px ridge #C0C0C0;
	border-right:2px ridge #C0C0C0;
}

.closeTable {
	border-left:2px ridge #C0C0C0;
	border-right:2px ridge #C0C0C0;
	border-bottom:2px ridge #C0C0C0;
}
.navLinks {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	text-transform:lowercase;
	text-decoration:none;
	background-color: #FFFFFF;
	}

th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	background-color: #3399CC;
	color: #FFFFFF;
}
.introCopy {
	font-family: Tahoma, Verdana;
	font-size: small;
	padding-top:2px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:0px;
	
}
.bodyCopy {
	padding:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	background-color:#CCCCCC;
}
.bodyTable {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.notify {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #FF0000;
	background-color:#FFFFFF;
}
.quoteBox {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	font-weight: normal;
	display: inline;
	height: auto;
	width: 200px;
	float: right;
	border: 2px groove #CCCCCC;
	font-style: italic;
	padding: 5px;
	text-align: center;
	background-color: #CCCCCC;
	clear: right;
	margin-right: 10px;
	margin-top: 10px;
}
.loginNavTabl {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #000000;
	background-color: #CCCCCC;
	font-weight: normal;
	height: 30px;
	background-image: url(graphics/navbg.jpg);
	background-repeat: repeat-x;
	background-position: center;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}

td {
	background-color:#FFFFFF;
}
.introTable {
	background-image: url(graphics/totalstation.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.subHead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFFFFF;
	background-position: left;
	text-align: left;
	background-color: #666666;
}
.int {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #000000;
}
.logbox {
	background-color: #3399FF;
	font-family: "Small Fonts";
	font-size: 8px;
	text-transform: uppercase;
	font-weight: normal;
}
#wrapper {
	width: 800px;
	text-align: center;
	
}
#leftBlock {
	height: auto;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid #999999;
	margin-right: 20px;
}
.orderListBlock {
	height: auto;
	margin-top: 20px;
	border: 1px solid #999999;
	margin-right: 20px;
	width: 540px;
	float: right;
	display: inline;
	margin-bottom: 20px;
}
.sidebarBlock {
	float: left;
	width: 200px;
	height: 100px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 0px;
	border: 1px solid #999999;
	margin-bottom: 20px;
}

.custName {
	padding: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bolder;
	background-color: #3399CC;
	color: #FFFFFF;
}
.jobsTable {
	margin-left: 30px;
}


.nameHdr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-large;
	text-align: right;
}
.bioOuter {
	padding: 10px;
	border: 1px solid #CCCCCC;
	margin: 5px;
}
.bioPic {
	padding: 0px;
	float: left;
	clear: left;
	margin-bottom: 30px;
}
.bioText {
	display: inline;
	float: right;
	padding: 5px;
	clear: right;
	width: 500px;
}
.topLinks {
	background-color: #FFFFFF;
}
.VPHeader {
	
	font-size: large;
	font-weight: normal;
	font-family: "Trebuchet MS", Verdana;
	padding-left: 20px;
	padding-top: 20px;
}
.VPBody {
	font-family: "Trebuchet MS", Verdana;
	font-size: small;
	padding-left: 40px;
}
.VPLink {
	font-family: "Trebuchet MS", Verdana;
	font-weight: bold;
	border: 1px solid #999999;
	width: 200px;
	background-color: #CCCCCC;
	text-align: center;
	color: #0099FF;
	padding: 4px;
	margin: 30px;
}
.tbBack {
	background-color: #CCCCCC;
}
.button {
	width: 120px;
	text-align: center;
	border: thin solid #999999;
	padding: 3px;
}
.tMsg {
	width: 500px;
	padding: 5px;
	overflow: scroll;
}
pre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
#taskInfoWrapper {
	background-color: #3399CC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	position: absolute;
	/*left: 500px;
	top: 500px;*/
	width: 250px;
}
.popupWin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #FFFFFF;
	background-color: #3399CC;
	font-weight: bold;
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
}
