body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
  background-color:#FFFFFF;
}

td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size:x-small;
}

th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	background-color:#CCCCC0;
}

table {
	background-color:#FFFFFF;
}
.topnav {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size:xx-small;
	font-weight: bold;
	background-image: url(graphics/tabgrad.png);
	text-align:center;
	border: thin groove #666666;
}
.bodytabl {
	background-color: #FFFFFF;
}
.sbheader {
	font-family: "Trebuchet MS";
	font-size: x-small;
	color: #666666;
	text-align: center;
	background-color:#CCCCCC;
	height: 25;
	font-weight: bold;
}
.prodname {
	font-family: "Trebuchet MS";
	font-size: small;
	font-weight: bold;
	color: #0000FF;
}
.proddesc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	border-bottom-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: ridge;
	border-left-style: none;
	border-bottom-color: #666666;
}
.bodyfoot {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: lighter;
	background-color: #CCCCCC;
}
.masthead {
	font-family: "Trebuchet MS";
	font-size: xx-large;
	font-weight: bold;
}
.sthdr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	background-color: #0066CC;
	color: #FFFFFF;
}
.st {
	background-color: #CCCCCC;
	border: none;
}
.cathdr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	background-color: #FFFFFF;
	border-bottom-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: groove;
	border-left-style: none;
	text-transform: uppercase;
}

#headBar {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	background-color: #3399CC;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 16px;

}
